<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investimentos</title>
    <link rel="stylesheet" href="static/styles/investimentos.css">
</head>
<nav>
    <ul>
        <li>
            <a class="inicio" href="/">Início</a>
        </li>
        <li>
          <a class="sobre" href="/seguranca">Sobre Nós</a>
        </li>
      
        <li class="investir">
          <a href="/comoinvestir">Como Investir</a>
        </li>
        <li class="investimentos">
          <a href="/investimentos">Investimentos</a>
        </li>

        <li class="simular">
            <a href="/simulador">Simular</a>
        </li>


    </ul>
</nav>
<body>
    <div class="geral">
        <div class="bloco1">
            <h2>Renda Fixa</h2>
            <h3>Tipos de investimento</h3>
        </div>

        <div class="info1">
            <h2>CDB</h2>
            <p>
                Um Certificado de Depósito Bancário (CDB) é um investimento <br>
                 de renda fixa em
                <br> que o dinheiro é emprestado a um banco ou financeira, em troca de juros. <br>
                É um tipo de aplicação que pode ser uma alternativa segura e rentável à poupança. <br>
                Rentabilidade: Atrelada ao CDI<br>
                Risco: Baixo. Protegido pelo FGC.<br>
            </p>

            <div class="dinheiro">
                <img src="/static/assets/dinheiro 1.png" alt="dinheiro">
            </div>
        </div>

        <div class="info2">
            <h2>Tesouro Selic</h2>
            <p>O investimento Selic é um título público do Tesouro Nacional <br>
                 que consiste em emprestar dinheiro <br>
                 ao governo federal por um período determinado. <br>
                  A rentabilidade do investimento é atrelada à taxa Selic, <br>
                   a taxa básica de juros da economia brasileira. <br></p>

            <div class="folha">
                <img src="/static/assets/folha.png" alt="folha" >
            </div>  
        </div>

        <div class="info3">
            <h2>Tesouro Prefixado</h2>
            <p> O Tesouro Prefixado é um título público <br> de renda fixa emitido pelo governo brasileiro, <br>
                 que oferece uma taxa de juros fixa no momento da compra. <br>
                  Isso significa que o investidor sabe exatamente o <br>
                   quanto receberá ao final do prazo, <br>
                   se mantiver o título até o vencimento.<br></p>

            <div class="envelope">
                <img src="/static/assets/envelope.png" alt="envelope">
            </div>
        </div>

        <div class="info4">
            <h2>Tesouro IPCA+</h2>
            <p>O Tesouro IPCA é um título público de renda fixa emitido <br>
                 pelo Governo Federal 
                 que oferece rendimentos atrelados à inflação, <br>
                 medida pelo Índice de Preços ao Consumidor Amplo (IPCA). <br>
                 O objetivo é proteger o investimento contra a perda do poder <br>
                  de compra ao longo do tempo. <br></p>

            <div class="money">
                <img src="/static/assets/money.png" alt="money">
            </div>
        </div>
    </div>
</body>
</html>