<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comoinvestir</title>
    <link rel="stylesheet" href="../static/styles/comoinvestir.css">
</head>
<nav>
    <ul>
        <li>
            <a class="inicio" href="/">Início</a>
        </li>
        
        <li>
          <a class="sobre" href="/seguranca">Sobre Nós</a>
        </li>
      
        <!-- Outros itens do menu -->
        <li class="investir">
          <a href="/comoinvestir">Como Investir</a>
        </li>
        <li class="investimentos">
          <a href="/investimentos">Investimentos</a>
        </li>

        <li class="simular">
            <a href="/simulador">Simular</a>
        </li>

    </ul>
</nav>
<body>
    <div class="geral">
        <div class="texto1">
            <h1>COMO INVESTIR NA MI</h1>
            <p>A MI adota uma abordagem fundamentada na segurança e no crescimento <br>
                sustentável dos investimentos. Sua filosofia busca não apenas proporcionar <br>
                bons retornos financeiros, mas também proteger o patrimônio de seus clientes. <br>
                Para isso, a empresa combina análise de risco, diversificação e estratégias de <br>
                longo prazo. Antes de começar, é importante entender os princípios por trás <br>
                dos produtos e serviços oferecidos:
            </p>
        </div>

        <div class="topico1">
            <h3>1. Diversificação</h3>
            <p>A Maverick utiliza diferentes tipos de ativos para minimizar riscos e <br>
                equilibrar os investimentos.</p>
        </div>

        <div class="ouro">
            <img src="/static/assets/ouro.png" alt="ouro">
        </div>

        <div class="topico2">
            <h3>2. Análise de Mercado</h3>
            <p>A empresa faz uma análise detalhada do mercado e das tendências <br>
                econômicas, garantindo que as decisões de investimento sejam <br>
                fundamentadas em dados sólidos.</p>
        </div>

        <div class="prata">
            <img src="/static/assets/prata.png" alt="prata">
        </div>

        <div class="topico3">
            <h3>3. Gestão de Risco</h3>
            <p>A segurança do cliente é uma prioridade, e a Maverick implementa <br>
                estratégias de mitigação de riscos para proteger o patrimônio <br>
                investido.</p>
        </div>

        <!--<div class="logo">
            <img src="/static/assets/logo (3).png" alt="logo">
        </div>--> 

        <div class="bronze">
            <img src="/static/assets/bronze.png" alt="bronze">
        </div>

        <div class="texto2">
            <h1>SIGA OS PASSOS:</h1>
            <h2>1.  Abra Sua Conta e Realize o Cadastro</h2>
        </div>

        <div class="texto2">
            <h2>2.  conheça e Escolha o Tipo de Investimento que Melhor Atende Seus Objetivos</h2>
        </div>

        <div class="texto2">
            <h2>3.  Tenha uma Visão de Longo Prazo</h2>
        </div>

        <div class="texto2">
            <h2>4.  Acompanhe Seus Investimentos Regularmente</h2>
        </div>

        <button>
            <a href="/cadastro">Cadastre-se e conheça seu novo futuro</a>
        </button>
    </div>
    
</body>
</html>