<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<nav>
    <ul>
        <li>
            <a class="inicio" href="/">Início</a>
        </li>

        <li>
          <a class="sobre" href="/seguranca">Sobre Nós</a>
        </li>
      
        <!-- Outros itens do menu -->
        <li class="investir">
          <a href="/comoinvestir">Como Investir</a>
        </li>
        <li class="investimentos">
          <a href="/investimentos">Investimentos</a>
        </li>

        <li class="simular">
            <a href="/simulador">Simular</a>
        </li>

    </ul>
</nav>
<body>
    <div class="geral">
        <div class="bloco1">
            <div class="infos">
                <h1>SEJA <br>BEM-VINDO</h1>
                <h2>Segurança para o seu presente.<br> Estratégia para o seu futuro.</h2>
                <button>
                     <a href="/quemsomos">Conheça a MI</a>
                </button>
            </div>

            <div class="imagem">
                <img src="/static/assets/Group 1.png" alt="compiuter">
            </div>

            <div class="imagem2">
                <img src="/static/assets/logo (3).png"  width="logwidht="80px>
            </div>

        </div>
    
</body>
</html>