<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos??</title>
    <link rel="stylesheet" href="static/styles/quemsomos.css">
</head>
<nav>
    <ul>
        <li>
            <a class="inicio" href="/">Início</a>
        </li>
        
        <li>
          <a class="sobre" href="/seguranca">Sobre Nós</a>
        </li>
      
        <!-- Outros itens do menu -->
        <li class="investir">
          <a href="/comoinvestir">Como Investir</a>
        </li>
        <li class="investimentos">
          <a href="/investimentos">Investimentos</a>
        </li>

        <li class="simular">
            <a href="/simulador">Simular</a>
        </li>
        

    </ul>
</nav>
<body>
    <div class="geral">
        <div class="texto1">
            <h1>QUEM SOMOS ?</h1>
            <p>Na Maverick Investments, acreditamos que o sucesso financeiro não é <br>
            apenas uma meta — é uma jornada. Somos uma empresa de <br>
            investimentos comprometida em transformar sonhos em realidade,<br>
            oferecendo soluções personalizadas e seguras para nossos clientes. <br>
            Combinamos expertise no mercado financeiro com um atendimento<br>
            humano e transparente, criando um ambiente de confiança onde cada<br>
            decisão é tomada com responsabilidade e visão de futuro.</p>
        </div>

        <div class="texto2">
            <h2>NOSSA ESSÊNCIA</h2>
            <p>Fundada com o propósito de empoderar pessoas e empresas, a Maverick<br>
                Investments nasceu da crença de que investimentos bem planejados são a<br>
                chave para um futuro mais próspero. Nosso nome, "Maverick", reflete <br>
                nosso espírito inovador e independente. Não seguimos fórmulas prontas —<br>
                criamos estratégias sob medida para atender às necessidades únicas de <br>
                cada cliente, sempre com foco na segurança e na rentabilidade.</p>
        </div>

        <div class="texto3">
            <h3>NOSSO PROPÓSITO</h3>
            <p>Somos mais do que uma empresa de investimentos. Somos parceiros na <br>
                construção de histórias de sucesso. Nosso compromisso é garantir que <br>
                cada cliente, independentemente do perfil ou objetivo, sinta-se confiante e <br>
                seguro em cada decisão tomada.</p>
        </div>

        <div class="caminho">
            <h4>COMO FUNCIONA A NOSSA SEGURANÇA?</h4>
            <button>
                <a href="/seguranca">Conheça a segurança da MI</a>
            </button>
        </div>

    </div>
    
</body>
</html>