<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança</title>
    <link rel="stylesheet" href="static/styles/seguranca.css">
</head>
<nav>
    <ul>
        <li>
            <a class="inicio" href="/">Início</a>
        </li>
        
        <li>
          <a class="sobre" href="/seguranca">Sobre Nós</a>
        </li>
      
        <li class="investir">
          <a href="/comoinvestir">Como Investir</a>
        </li>
        <li class="investimentos">
          <a href="/investimentos">Investimentos</a>
        </li>

        <li class="simular">
            <a href="/simulador">Simular</a>
        </li>


    </ul>
</nav>
<body>
    <div class="geral">
        <div class="texto1">
            <h1>SEGURANÇA</h1>
            <h2>Na MI</h2>
            <p>Na Maverick Investments, a segurança dos <br>
                nossos clientes é a nossa maior prioridade. <br>
                Desde a nossa fundação, estabelecemos <br>o compromisso de oferecer soluções financeiras <br>
                sólidas e transparentes, garantindo<br>
                tranquilidade em cada etapa do processo de<br> 
                investimento.</p>

                <div>
                    <img class="cadeado" src="/static/assets/cadeado.png" alt="cadeado" width="270px">
                </div>
        </div>

        <div class="texto2">
            <h2>Por que confiar na Maverick Investments?</h2>
        </div>

        <div class="topico1">
            <h3>1. Proteção do Patrimônio</h3>
            <p>Na Maverick, tratamos os recursos dos nossos clientes com o mais <br>
                alto nível de responsabilidade. Adotamos práticas rigorosas <br>
                de compliance e utilizamos plataformas seguras para proteger <br>
                todas as transações. Além disso, trabalhamos com instituições financeiras <br>
                renomadas, garantindo que seus investimentos estejam sempre em <br>
                boas mãos.</p>

                <div>
                    <img class="selo" src="/static/assets/selo.png" alt="selo" width="210px">
                </div>
        </div>

        <div class="topico2">
            <h3>2.Transparência Total</h3>
            <p>Na Maverick, tratamos os recursos dos nossos clientes com o mais <br>
                alto nível de responsabilidade. Adotamos práticas rigorosas <br>
                de compliance e utilizamos plataformas seguras para proteger <br>
                todas as transações. Além disso, trabalhamos com instituições financeiras <br>
                renomadas, garantindo que seus investimentos estejam sempre em <br>
                boas mãos.</p>

                <div>
                    <img class="mao" src="/static/assets/mao.png" alt="mao">
                </div>
        </div>

        <div class="topico3">
            <h3>3. Equipe de Especialistas</h3>
            <p>Contamos com um time de consultores certificados, altamente <br>
            capacitados para identificar as melhores oportunidades no mercado, <br>
            minimizando riscos e maximizando retornos. Mais do que gestores, <br>
            somos parceiros que acompanham você em cada decisão.</p>

            <div>
                <img class="joia" src="/static/assets/joia.png" alt="joia" width="">
            </div>
        </div>

        <div class="topico4">
            <h3>4. Diversificação e Personalização</h3>
            <p>Segurança também significa diversificação. Criamos carteiras <br>
            balanceadas que contemplam diferentes tipos de ativos, desde <br>
            opções conservadoras de renda fixa até estratégias mais ousadas <br>
            de renda variável. Tudo isso é feito com base no seu perfil de <br>
            investidor e nas metas que você deseja alcançar.</p>

            <div>
                <img class="pessoa" src="/static/assets/pessoa.png" alt="" width="300px">
            </div>
        </div>

        <div class="topico5">
            <h1>Com a Maverick Investments,</h1>
            <h3>você investe com quem realmente se importa com o seu futuro.</h3>
        </div>

        <div class="topico6">
            <h1>Quais as suas metas?</h1>
            <h3> Juntos, nós vamos construir o futuro que você merece e deseja.</h3>
        </div>

        <button>
            <a href="/investimentos">Simule seu futuro</a>
        </button>

    </div>

    <div>
        <img class="logo" src="/static/assets/logo (3).png" alt="logo" width="100px">
    </div>
    
</body>
</html>