@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

:root{
    --cor-base: #c7dbc3;
    --fonte-prata:'Prata' , 'sans-serif';
    --fonte-josefin: 'Josefin Sans' , 'sans-serif';
    --fonte-lato: 'Lato' , 'sans-serif';
    --color-texto: #819d7b
}

body{
    background-image:url('/static/assets/moedas\ bg.png');
    background-size: 100%;

    overflow-x: hidden; /* Esconde conteúdo que ultrapassa horizontalmente */
    margin: 0;
    padding: 0;
  
}


/* Estilo geral do menu */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center
}
  
li  {
   position: relative; /* Necessário para alinhar a sublista */
}

li a{
    font-family: var(--fonte-josefin);
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 10;
}


.sobre{
    position: relative;
    right:100px;
    top: 30px;
}
.simular{
    position: relative;
    top: 30px;
    left: 120px;
}

.investir{
    position: relative;
    top: 30px;
}

.investimentos{
    position: relative;
    top: 30px;
    left: 60px;
}

.geral{
    text-align: center;
   
    
}
.texto1 h1{
    font-family: var(--fonte-prata);
    color: var(--color-texto);
    font-weight: 10;
    margin-top: 50px;
    left: 3%;
    position: relative;

   
}

.texto1 p{
    color: black;
    font-family: var(--fonte-josefin) ;
    text-align: center;
    font-weight: 170;
    position: relative;
    font-size: 25px;
    left: 2%;
 
}

.texto2 p {
    color: black;
    font-family: var(--fonte-josefin) ;
    text-align: center;
    font-weight: 170;
    position: relative;
    left: 3%;
    font-size: 25px;
    gap: 10;
    top: 10px;
}

.texto2 h2{
    font-family: var(--fonte-prata);
    color: var(--color-texto);
    font-weight: 10;
    margin-top: 40px;
    text-align: center;
    position: relative;
    left: 3%;
    font-size: 30px;
}

.texto3 p{
    color: black;
    font-family: var(--fonte-josefin) ;
    text-align: center;
    font-weight: 170;
    position: relative;
    left: 3%;
    font-size: 25px;
    
}

.texto3 h3{
    font-family: var(--fonte-prata);
    color: var(--color-texto);
    font-weight: 10;
    margin-top: 45px;
    text-align: center;
    font-size: 30px;
    position: relative;
    left: 3%;
}

.caminho h4{
    font-family: var(--fonte-prata);
    color: var(--color-texto);
    font-weight: 10;
    margin-top: 50px;
    font-size: 30px;
}

button{
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    
}
button a{
    text-decoration: none;
    color: black;
    font-family: var(--fonte-josefin);
    font-size: 20px;
   
}

.entrar{
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    left: 80%;
    top: -65px;
}